# Ignore code coverage file
.coverage 
*sqlite_dbs*
# ignore python compiled files:
*.py[cod]
# ignore Eclipse files:
.project
.pydevproject
# ignore MacOS crud:
.DS_Store
# other stuff
.settings
# Emacs files:
# ignore emacs autosaves and other cruft:
.~*
*~*
\#*\#
.\#*

